@import './Roboto/fonts';

:root {
  /* Loader colors */
  --loader-bg: #518581;
  
  /* Button colors */
  --button-primary-bg: #518581;
  --button-primary-text: #FFFFFF;
  --button-primary-bg-hover: #86AAA7;
  --button-primary-text-hover: #FFFFFF;
  --button-primary-bg-disabled: #D9D9D9;
  --button-primary-text-disabled: #FFFFFF;
  --button-primary-bg-active: #518581;
  --button-primary-text-active: #FFFFFF;
  
  /* Input colors */
  --input-text: #000000;
  --input-bg: #FFFFFF;
  --input-placeholder: #afadb6;
  --input-border: #FFFFFF;
  --input-bg-focus: #FFFFFF;
  --input-border-focus: #518581;
  --input-text-focus: #000000;
  --input-bg-disabled: #FFFFFF;
  --input-border-disabled: #FFFFFF;
  --input-text-disabled: #FFFFFF;
  
  /* Checkbox colors */
  --checkbox-bg: #FFFFFF;
  --checkbox-border: #FFFFFF;
  --checkbox-bg-hover: #FFFFFF;
  --checkbox-border-hover: #518581;
  --checkbox-bg-disabled: rgba(255, 255, 255, 0.5);
  --checkbox-border-disabled: rgba(255, 255, 255, 0);
  --checkbox-check: #518581;
  --checkbox-check-hover: #518581;
  --checkbox-check-disabled: rgba(0, 0, 0, 0.2);
  
  /* Card colors */
  --card-image-bg: #d9d9d9;
  --card-bg: #FFFFFF;
  
  /* Dropdown colors */
  --dropdown-options-bg: #FFFFFF;
  
  /* Text colors */
  --text-primary: #000000;
  --text-secondary: #afadb6;
  --text-accent: #518581;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


html, body {
  font-family: 'Roboto';
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
figure,
pre {
  margin: 0;
}

